.middle ul {
    padding:0px;
    width:700px;
    min-height:400px;
    margin:auto;
    background-color:white;
    border-radius:8px;
    padding:5px;
}
.list-item {
    min-height:120px;
    overflow:hidden;
    border:1px solid #abbbc3;
    border-top:none;
    opacity:0.7;
    margin-bottom:5px;
    border-radius:3px;
}
.list-item:hover {
    opacity:1;
    background-color:#bafaff;
}
.list-item p {
    padding-left:8px;
    padding-right:8px;
}
.book-name {
    font-size:20px;
    padding:5px;
    background-color:#abbbc3;
    border-radius:3px;
}
.book-name span {
    float:right;
    margin-right:50px;
    padding-top:3px;
}
.list-item a {
    color:#2d64b3;
}
